@model MVCDemo.Models.Employee;
@{
    ViewData["Title"] = "Searchemp";
}

<h1>Searchemp</h1>

<table border="1" cellpadding="2" cellspacing="3">
    <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>EmpSalary</th>
    </tr>
    <tr>
        <td>@Model.empid</td>
        <td>@Model.empname</td>
        <td>@Model.salary</td
    </tr>
</table>