@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "sampledemo3";
}


<h1>ViewBag.Name = "Mohit";</h1>
<h1>ViewBag.Age = 88;</h1>
<h1>ViewData["Message"] = " Welcome to asp.net core learning ";</h1>
<h1>ViewData["Year"] = DateTime.Now.Year;</h1>
